table, th, td{
    border: solid 1px black;
}
.ab{
    background-color: aqua;
}
th{
    background-color: yellow;
}
tr{
    background-color:red}
    .abc{
        background-color: green;
    }
    .a{
        background-color: green;
    }
    .b{
        background-color: green;
    }